:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(69, 69, 69, 0.87);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
}

.chat {
    display: flex;
    min-height: 100vh;
    margin-bottom: 150px;
}

.chat-history-container {
    position: relative;
    margin-top: 90px;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #ffffff;
    width: 300px;
}

.chat-history {
    width: 100%;
}


.conversation {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: lighter;
    transition: 0.2s;
    color: #a4a4a4;
}

.conversation.active {
    font-style: italic;
    padding: 20px 12px;
    color: black;
}

.chat-container {
    flex: 6;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-header {
    padding: 10px;
    background-color: #ffffff;
    color: #b3b3b3;
    font-size: 18px;
    font-style: italic;
    text-align: center;
}

.chat-history {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.message {
    margin-bottom: 10px;
    padding: 32px 12px;
    border-top: 1px solid #dadada;
}

.message.me {
    font-weight: 600;
}

.message.ai {
    background-color: #ffffff;
    color: #4c4c4c;
}

.message.sys {
    background-color: #000000;
    color: #dbff00;
}

.chat-input {
    bottom: 0;
    right: 0;
    position: fixed;
    width: 100%;
    text-align: right;
}

.chat-input #prompt {
    width: 80%;
    min-height: 100px;
    padding: 16px;
    border-radius: 5px;
    border: 1px solid grey;
}

.chat-input button {
    padding: 10px 24px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 20px;
}

.chat-input button:disabled {
    background-color: #4c4c4c;
}

.more {
    padding: 10px;
    background-color: #f1f1f1;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    position: fixed;
    top: 0;
}


.chat-title {
    width: 90%;
}

.single-chat-link-container {

    white-space: nowrap;
}

.single-chat-link-container > div, .single-chat-link-container > button {
    display: inline-block;
}

.resize-border {
    position: absolute;
    top: 0;
    right: -1px; /* Position the border to the right */
    width: 4px;
    height: 100%;
    cursor: col-resize;
    border-right: dotted 2px #00b23d;

    /* Add other border styles here*/
}

.chat-box {
    min-width: 500px;
    min-height: 80vh;
}